In [ ]:
#!pip install pymysql

In [1]:
!pip show pymysql

Name: PyMySQL
Version: 1.1.1
Summary: Pure Python MySQL Driver
Home-page:
Author:
Author-email: Inada Naoki <songofacandy@gmail.com>, Yutaka Matsubara <yutaka.matsubara@gmail.com>
License: MIT License
Location: C:\Users\user\anaconda3\Lib\site-packages
Requires:
Required-by:

In [22]:
sql = """
CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);
"""
print(sql)

CREATE TABLE product (
    id INT UNSIGNED NOT NULL AUTO_INCREMENT,
    name VARCHAR(20) NOT NULL,
    model_num VARCHAR(10) NOT NULL,
    model_type VARCHAR(10) NOT NULL,
    PRIMARY KEY(id)
);

In [23]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

print(type(db))
print(db)

<class 'pymysql.connections.Connection'>
<pymysql.connections.Connection object at 0x0000029AD0F3E990>

In [24]:
# Cursor 객체생성
cursor = db.cursor()
# sql문 실행
cursor.execute(sql)
# DB에 반영시켜라
db.commit()

In [25]:
cursor.execute('show tables')
cursor.execute('drop table product')

0

In [16]:
db.close()

In [ ]:
import pymysql

#db와 연결
db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #cursor 생성하고 cursor가 open되어 있는 query문을 여러개 실행
    with db.cursor() as cursor:
        #table drop하는 query 실행
        #cursor.execute('drop table product')
        #product table 생성 query실행
        cursor.execute(sql)
        #db에 실제로 적용한다
        db.commit()
        
        for num in range(10,20): #10~19
            name = 'S20'+str(num)
            ins_sql = \
            'insert into product (name,model_num,model_type) values (%s, %s, %s)'
            cursor.execute(ins_sql,(name,'7700','Phone'))
            print(ins_sql)
#             ins_sql = "insert into product (name,model_num,model_type) \
#             values('"+name+"','7700','Phone')"
#             cursor.execute(ins_sql)
        # DB에 반영    
        db.commit()
        print(cursor.lastrowid)
except Exception as exp:
    print(exp)
    # DB에 반영하지 말고 취소 처리해라
    db.rollback()
finally:
    db.close()

OperationalError: (2003, "Can't connect to MySQL server on 'localhost' ([WinError 10061] 대상 컴퓨터에서 연결을 거부했으므로 연결하지 못했습니다)")

In [ ]:
import pymysql

db = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

try:
    #select, update
    with db.cursor() as cursor:
        cursor.execute('select * from product where id=3')
        # 쿼리한 Row 한개의 데이터를 result 변수에 저장
        result = cursor.fetchone()
        print(type(result),result, result[1])
        
        upd_sql = \
        "update product set model_type='%s' \
        where name between 'S2010' and 'S2015'" % '핸드폰'
        cursor.execute(upd_sql)
        db.commit()
        #갱신된 row 갯수
        print(cursor.rowcount)
        
        cursor.execute('select * from product')
        result_list = cursor.fetchall()
        print(type(result_list))
        for row in result_list:
            print(row[0],row[1],row[2],row[3])
            
        # model_type별로 group by 하는 쿼리 실행 
        cursor.execute('select model_type,count(*) from product group by model_type')
        for row in cursor.fetchall():
            print(row)
finally:
    db.close()

ProgrammingError: (1146, "Table 'python_db.product' doesn't exist")

In [ ]:
# delete 하고 select all
#name 컬럼의 값이 's2014' 와 's2015' 인 행을 삭제하세요 sql의 in 구문을 사용하세요

con = pymysql.connect(host='localhost', port=3306, db='python_db',\
                    user='python',passwd='python',charset='utf8')

#print(type(con), con)

try:
    with con.cursor() as cursor:
        sql = "delete from product where name in (%s,%s)"
        cursor.execute(sql,('S2012','S2013'))
        con.commit()
        # 삭제된 건수 출력
        print(cursor.rowcount)
                
        sql = "select * from product order by id"
        cursor.execute(sql)
        for row in cursor.fetchall():
            print(row[0],row[1],row[2],row[3])
            
except Exception as ex:
    con.rollback()
    print(ex)
finally:
    con.close()

0
7 S2016 7700 Phone
8 S2017 7700 Phone
9 S2018 7700 Phone
10 S2019 7700 Phone